# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/**

# macOS
.DS_Store
